/* 
	CSS by Dan Høegh
	UCN MMD 2020 

*/

body {
	font-family: sans-serif;
	padding: 5vw;
	font-size: 4vw;
	line-height: 1.4;
}

@media (min-width: 641px) {
	body {
		padding: .8rem;
		font-size: 1rem;
	}
}


/* test styles */

body {
	background-color: var(--frp-color-background);	
	padding: 0;
	overflow-x: hidden;
}

/* button */
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: var(--frp-radius-component-s);
	background-color: var(--frp-color-primary);
	color: var(--frp-color-on-primary);
	box-shadow: var(--frp-shadow);
	transition: box-shadow .2s ease-out;
}

.btn.mwa {
	background-color: var(--frp-color-accent);
	color: var(--frp-color-on-accent);
}

.btn:active {
	box-shadow: var(--frp-shadow-depressed);
}

@media (min-width: 641px){
	.flex > div {
		width: 50%;
	}
}

@media (max-width: 640px){
	.flex {
		display: block;
	}

	.flex > div {
		width: 100%;
		margin-bottom: var(--frp-density-m);
	}
}

h1, p {
	margin-bottom: var(--frp-density-m);
}

header > nav > ul {
	margin: 0;
	padding: 0;
}

header > nav > ul > li {
	display: inline-block;
	list-style-type: none;
	position: relative;
}

header > nav > ul > li > a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
}

header > nav > ul > li > a:hover {
	background-color: rgba(0,0,0,.5);
}

header > nav > ul > li > ul  {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	background: rgba(0,0,0,.9);
	min-width: 300px;
}

header > nav > ul > li:hover > ul {
	display: block;
}

header > nav > ul > li > ul > li {
	list-style-type: none;
	display: block;
}

header > nav > ul > li > ul > li > a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #ffffff;
}

header > nav > ul > li > ul > li > a:hover {
	background-color: rgba(255,0,0,.5);
}

#menuButtonWrapper,
#menuCloseButtonWrapper {
	display: none;
}

@media (max-width: 768px){
	
	header > nav {
		width: 100vw;
		height: 100vh;
		background-color: grey;
		position: fixed;
		z-index: 100;
		transform: translateX(100%);
		transition: transform .3s ease-out;
	}
	
	header > nav.active {
		transform: translateX(0);
	}

	header > nav > ul {
		width: 100vw;
	}
	header > nav > ul > li,
	header > nav > ul > li > a {
		display: block;
	}

	header > nav > ul > li > a {
		padding: 2vw 0 2vw 4vw;
	}

	header > nav > ul > li > ul,
	header > nav > ul > li > ul > li,
	header > nav > ul > li > ul > li > a {
		width: 100vw;
	}

	header > nav > ul > li > ul {
		position: relative;
	}

	header > nav > ul > li > ul > li > a {
		padding: 2vw 0 2vw 8vw;
	}

	#menuButtonWrapper {
		position: absolute;
		width: 100vw;
		display: block;
		text-align: right;
	}

	#menuButtonWrapper > a {
		margin: 2vw;
	}
	
	#menuCloseButtonWrapper {
		display: block;
		text-align: right;
	}
	#menuCloseButtonWrapper > a{
		margin: 2vw;
	}
}


/* FILTERING CSS */

#filterTool a {
	color: white;
	text-decoration: none;
}

#filterTool a.active {
	text-decoration: underline;
}

#filterItems {
	display: flex;
	flex-wrap: wrap;
}

#filterItems div {
	width: 32%;
	height: 100px;
	background-color: #000000;
	color: #ffffff;
}

#filterItems div.hidden {
	display: none;
}